.align-middle{
  text-align:center;
  margin-left: 17%;
  position: relative;
}
mat-card {
  position: fixed;
  transition: all 1s linear;
  vertical-align:middle;
}

.form-element{
  margin-right: 5%;
  margin-bottom: 2%;
}

.skills-div{
  left:5%;
  position: relative;
}
